@import '../../styles/settings';
@import 'foundation-sites/scss/foundation';

.campus-strandlist-container {
  @include breakpointdown(large) {
    &__list {
      margin-top: 2.375rem;
    }

    &__intro {
      margin-top: 1.875rem;
    }
  }

  @include breakpointup(large) {
    &__list {
      margin-top: 0px;
      @include padding(1, 0, null, 0);
    }

    &__intro {
      max-width: 845px;
      margin-top: 0px;
      @include padding(1.75, 1.25, 0, 2);
    }
  }
}
