$foundation-palette: (
  primary: #d2377e,
  secondary: #767676,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);

$white: #ffffff;
$white90: rgba(255, 255, 255, 0.9);
$black: #000000;
$menu-active-color: #6c757d;

$button-sizes: (
  tiny: 0.6rem,
  small: 0.75rem,
  default: 1rem,
  semi: 1.125rem,
  large: 1.25rem,
);
$button-radius: 4px;
$button-padding: 0.625em 1em;
$button-margin: 0 0 0 0;

$topbar-height: 7.5rem;
$topbar-background: $white;

$menu-simple-margin: 1.5rem;

$input-radius: 10px;
