@import '../../styles/settings';

.campus-content-wrapper {
  span {
    &.highlight {
      font-weight: bold;
      color: $highlight-color;
    }

    a {
      color: $linkColor;
    }
  }

  ul {
    padding-left: 0.75rem;
  }
}
