@import '../../styles/settings';

.campus-course-list {
  &__item {
    padding: 1rem 1.375rem 1.75rem 1.625rem;
    border: 1px solid $course-item-border;
    border-radius: 4px;

    & + .campus-course-list__item {
      margin-top: 2.25rem;
    }

    h4 {
      font-size: 20px;
      font-weight: 800;

      a {
        color: $course-title-color;
      }
    }

    p {
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 0px;
    }
  }
}
